/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------------*/




.wrap{
  max-width: 1024px;
  font-family: "微軟正黑體", Airal;
  margin: 0 auto;
  background-color: #efe9e7; 
  font-weight: 500;
  height: 100%;
}

html, body {
  position: relative;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

section{
  margin: 40px;
}

ul,li{
  list-style-type: none;
}

.clearfix{
  clear: both;
}

a{
  text-decoration:none;
}

/* ----------------------------header-------------------------------- */

.header{
  background-image: url(../images/header_desktop.png);
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-bottom: 5px;
}

.top{
  background-color: rgba(0,0,0,0.75);
  margin-top: 0;
}

.top h1{
  float: left;
}
.top h1 a{
  width: 120px;
  height: 24px;
  display: block;
  background-image: url(../images/logo_w@svg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: normal;
  margin: 16px 42px;
  position: absolute;
}

.top ul{
  float: right;
  margin: 15px 40px;
}

.top li{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.top li a{
  font-size: 16px;
  color: white;
  display: block;
}

.top li:hover{
  background-color: #E53A40;
}
.showmenu{
  display: none;
}

.slogan{
  background:rgba(0,0,0,0.35);
  text-align: center;
  color: #fff;
  line-height: 1.5;
  padding: 20px;
  margin: 10% 15% 16% 15%;
}

.slogan h2{
  font-size: 36px;
  font-weight: 600;
}

.slogan h3{
  font-size: 16px;
  margin: 0px 5px;
}

.slogan span{
  vertical-align: middle;
  margin: 0 2px;
}
    


@media screen and (max-width: 768px){
  .header{
    background-image: url(../images/header_mobile.png);
  }
  .top{
    display: inline-block;
    width: 100%;
  }
  .top h1{
    float: none;
    display: inline-block;
    /*transform: translateX(-50%);*/
  }
  .top h1 a{
    position: initial;
    margin: 0;
    margin-top: 20px;
  }
  .top ul{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 2.3s;
    margin-top: 1px;
    position: absolute;
    z-index: 100;
    top: 99px;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.90),rgba(0,0,0,0.95));
    -webkit-background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.90),rgba(0,0,0,0.95));
    -moz-background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.90),rgba(0,0,0,0.95));
    -o-background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.90),rgba(0,0,0,0.95));
    /*background-color: rgba(0,0,0,0.95);*/
    margin: 0;
  }
  .menu li{
    float: none;
    margin: 0;
    padding: 10px;
  }
  .menu li a{
    transition: all 0.3s;
    font-size: 24px;
  }
  .menu li a:active{
    background: #69CA62;
    color: #fff;
  }
  .showmenu{
    display: block;
    padding: 15px;
    color: wheat;
    font-size: 24px;
  }
  .fa-bars{
    color: #F56C23;
  }
  .menu-show .menu{
    max-height: 500px;
    margin: 0;
  }

  .slogan{
    max-width: 100%;
    padding: 5px;
    background: rgba(0,0,0,0.5);
  }
  
  .slogan h2{
    font-size: 22px;
    margin: 10px 0;
    font-weight: 800;

  }

  .slogan h3{
    display: none;
  }
}

@media screen and (max-width: 440px){

}


/* ----------------------------footer-------------------------------- */

.footer{
  margin: 0 5px;
  padding: 25px 5px;
  margin-top: 20px;
  color: #3D1101 ;
}

.footer h3{
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0;
}

.about p{
  font-size: 16px;
  text-align: left;
}

.footer ul{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.footer li{
  box-sizing: border-box;
  width: 30%;
  margin: 10px;
}

.content ul{
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 20px;
}

.content li{
  margin: 5px 5px;
  font-weight: 600;
  list-style-type: disc;
  width: 100%;
}


.social-media h2 a{
  width: 245px;
  height: 49px;
  display: block;
  background-image: url(../images/logo_l@svg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: normal;
  float: right;
}

.social-media .svg-inline--fa.fa-w-14{
  width: 31px;
}

.social-media .svg-inline--fa {
  height: 36px;
  cursor: pointer;
}

.fa-facebook-square{
  color: #3A5795 ;
}

.fa-twitter-square{
  color: #41ABE1;
}

.fa-google-plus-square{
  color: #DB4437 ;
}
.social-media ul{
  justify-content:initial;
  float: right;
}

.social-media li{
  width: initial;
  float: right;
}

.social-media .svg-inline--fa:hover{
  filter: brightness(0.5);
  -webkit-filter: brightness(0.5);
}


@media screen and (max-width: 768px){
  .footer {
    max-width: 100%;
    display: block;
  }
  .footer h3{
    font-size: 24px;
  }
  .footer ul{
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .footer li{
    width: 100%;
    margin: 0px;
  }
  .about{
    display: none;
  }
  .content ul{
    list-style-type: none;
    margin: 0;
  }
  .content li{
    margin: 5px 0px;
  }
  .social-media{
    float: none;
  }
  .social-media h2 a{
    margin: 20px auto;
    float: none;
  }
  .social-media ul{
    display: block;
    float: none;
  }
  .social-media li{
    display: inline-block;
    width: initial;
    margin: 5px 10px;
    float: none;
  }
}



/* ----------------------------homepage #feature-------------------------------- */

/*.feature-title{
  position: relative;
  background-color: #efe9e7;
}*/

.feature-title{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: baseline;
  align-items: baseline;
  margin: 20px 0px;
}


.feature-text h3{
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
  color: #3D1101 ;
}

.feature hr{
  width: 10%;
  box-sizing: inherit;
}

.hr-left{
  transform: translateX(100%);
}

.hr-right{
  transform: translateX(-100%);
}
.feature ul{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0px;
}

.feature li{
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  display: block;
}

.feature li img{
  border: 1px #efe9e7;
  border-radius:50%;
  overflow: hidden;
  display: block;
  margin: auto;
  max-width: 100%;
}

.feature li h3{
  font-size: 18px;
  color: #3D1101;
  text-align: center;
  margin: 10px;
  padding: 5px;
  font-weight: 600;
}

.feature li p{
  line-height: 1.2;
  margin: 0px 5px;
  text-align: justify;
}

@media screen and (max-width: 768px){
  .feature title{
    justify-content: space-evenly;

  }

  .feature ul{
    justify-content: space-around;
    max-width: 100%;
    flex-direction: column;
  }
  .feature li{
    width: 100%;
    margin: 10px auto;
  }

}

@media screen and (max-width: 440px){
  .feature{
    max-width: 100%;
    margin:20px;
  }
  .feature-title{
    justify-content: center;
  }
  .feature hr{
    display: none;
  }

}


/* ----------------------------homepage #main-chef-------------------------------- */

.main-chef{
  margin: 0;
  background-color: #3D1101;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
}

.main-chef-contant h3, .main-chef-contant p{
  color: #EFE9E7;
}

.main-chef-wrap,.main-chef-contant{
  width: 50%;
}

.main-chef-wrap{
  padding-left: 40px;
}

.main-chef-img{
  width:100%;
  height: 100%;
  background-image: url(..//images/main_chef_brown.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.main-chef-title{
  margin: 20px 0;
  line-height: 1.5;
}

.main-chef-title h3{
  font-size: 20px;
  font-weight: 600;
}

.main-chef-contant{
  margin: 70px 70px 40px 40px;
}

.main-chef-contant p{
  font-size: 16px;
  line-height: 1.2;
}



@media screen and (max-width: 768px){
  .main-chef-wrap, .main-chef-contant {
    width: 100%;
  }
  .main-chef{
    display: block;
  }

  .main-chef-wrap{
    padding: 0;
    height: 450px;
  }

  .main-chef-contant{
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .main-chef-title{
    margin: 20px 20px;
  }

  .main-chef-contant p{
    margin: 20px;
  }
}

@media screen and (max-width: 440px){
}

/* ----------------------------homepage #recommend-------------------------------- */
.recommend{
  margin-top: 50px;
  margin-bottom: 60px;
}
.recommend-title{
  font-size: 24px;
  color: #3D1101;
  text-align: center;
  font-weight: 600;
}

.recommend ul{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.recommend li{
  display: block;
  width: 33%;
  padding: 10px;
}

.avatar{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items:center;
  -ms-align-items: center;
  margin: 10px 0;
}

.recommend img{
  border-radius:50%;
  overflow: hidden;
}

.recommend h4{
  font-size: 18px;
  color: #3D1101;
  font-weight: 550;
  margin-left: 1em;
}
.recommend p{
  font-size: 16px;
  line-height: 1.2;
  color: #3D1101;
  margin-left: 5em;
  margin-bottom: 10px;
}

.recommend h5{
  float: right;
  color: #3D1101;
  margin: 10px 0;
}

@media screen and (max-width: 768px){
  .recommend{
    max-width: 100%;
    margin:20px;
  }

  .recommend hr{
    display: none;
  }
  .recommend ul{
    max-width: 100%;
    flex-direction: column;
    margin: 10px;
  }
  .recommend li{
    width: 100%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 440px){


}


/* ----------------------------homepage #map-------------------------------- */

.map{
  background-color: #FAFAFA ;
  margin: 0;
}

.map-title{
  padding-top: 50px;
}

.map-title h2{
  font-size: 24px;
  color: #3D1101;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
}

.map-content{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;  width: 100%;
}

.map-img,.booking-form{
  width: 50%;
}

.map-img{
  margin: 50px 0;
  margin-left: 40px;
}

.booking-form{
  margin: 20px 0;
  padding: 10px 0;
  margin-right: 40px;
  margin-left: 20px;
}

.booking-form li{
  margin: 15px 0px;
}
.booking-form label{
  display: block;
  color: #3D1101 ;
  margin: 5px 0 ;
  font-size: 14px;
}
.name ,.phone ,.email,.number{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  color: #4A4A4A ;
  font-size: 16px;
}

input[type=radio]{
  margin: 5px 0;
}
.vegetarian{
  font-size: 20px;
}


.submit,.clear{
  color: white;
  float: right;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  margin-left: 20px;
  border-radius: 5px;
}

.clear{
  background-color: rgba(0,0,0,0.35);
}

.submit{
  background-color: #F56C23 ;
}

.clear:hover{
  background-color: rgba(0,0,0,0.6);
}

.submit:hover{
  background-color: #00654c;
}



@media screen and (max-width: 768px){
  .map{
    max-width: 100%;
  }
  .map-title{
    margin: 40px 0;
  }
  .map-content{
    display: initial;
    max-width: 100%;
    margin: 10px;
    width: 0;
    max-width: 100%;
  }
  .map-img,.booking-form{
    max-width: 100%;
  }
  .map-img{
    margin: 0;
    width: 95%;
  }
  .booking-form{
    padding: 0;
    margin: 0;
    margin: 20px;
    max-width: 100%;
    width: initial;
  }
  .booking-form li{
    margin: auto 5px;
  }

  .booking-form label{
    margin-bottom: 10px;
  }
  .name, .phone, .email, .number{
    max-width: 100%;
  }
}

@media screen and (max-width: 440px){

}


/* ----------------------------online-shop-------------------------------- */

.online-shop{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction:row; 
  margin: 20px;
}

.shop-menu{
  display: block;
  color: #3D1101;
  font-size: 16px;
  float: left;
  max-width: 100%;
  width: 20%;
}
.category{
  margin: 10px 0;
}
.category-title{
  text-align: center;
  margin: auto;
}
.category-title h2{
  font-size: 20px;
  margin: 20px 0;
}
.category-title span{
  vertical-align: middle;
  margin: 0 5px;
}
.category a{
  line-height: 2.5;
  color: #3D1101;
}
.category p{
  border-bottom-style: solid;
  border-bottom-color: #3D1101;
  border-bottom-width: 2px;
  cursor: pointer;
}

.category p:hover{
  background-color: #3D1101;
}

.category p:hover a{
  color: white;
}

.shop-content{
  width: 80%;
}

.shop-bar{
  margin: 5px 10px;
/*  display: inline-flex;*/
  max-width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar-left{
  display: inherit;
  width: 70%;
}

.shop-bar.shop-search{
  float: left;
}

.shop-search{
  background-color:transparent;
  border: none;
  border: solid 2px #3D1101;
  width: 100%;
}
.fa-search{
  color: white;
  background-color: #3D1101;
  font-size: 15px;
  padding: 8px;
}


.bar-right{
  float: right;
  color: #3D1101;
  right: 10px;
  margin: 5px 20px;
}

.buy{
  cursor: pointer;
  padding: 5px 10px;
}
.buy:hover{
  color: white;
  background-color: #3D1101;
}
.fa-layers{
  cursor: pointer;
}
.fa-layers-counter{
  font-weight:900;
  background-color: #FF5E45;
  border-radius: 50%;
  font-size: 40px;
}
.fa-layers-top-right {
  top: -8px;
  right: -6px;
  }
.shop-item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.shop-box{
  position: relative;
  margin: 30px 20px;
  display: inline-block;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.2);
  color: #3D1101;
  background-color: #EFE9E7 ;
  text-align: center;
}

.shop-box-top{
  width: 220px;
  overflow: hidden;
}

.shop-img{
  width:100%;
  height: 100%;
  background-image: url(../images/product_1.png);
  background-position: center top;
  -webkit-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.shop-box:hover .shop-img{
  transform: scale(1.13);
}
.tag-wrap{
  position: absolute;
  top: -10px;
  right: -10px;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.shop-box-top .tag {
 /* width: 100%;*/
  width: 200px;
  text-align: center;
  transform: translateX(30%) translateY(150%) rotate(45deg);
  background-color:#00CC99 ;
  color: white;
  font-weight: 800;
  padding: 5px 0;
  margin-top: -10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 1;
}


.tag-wrap:after,.tag-wrap:before{
  position: absolute;
  content: '';
  display: block;
  border: 6px solid #078F6D;
}
.tag-wrap:after{
  top: -2px;
  right: 81px;
  transform: translateX(-63%);
  z-index: 0;
}
.tag-wrap:before{
  top: 96px;
  right: -2px;
  transform: translateY(-63%);
}

.love-item{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 0px;
  color: #FFFFFF ;
  cursor: pointer;
}
.love-item .fa-heart{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20px;
  height: 20px;
}

.love-item :hover {
  color: #FF5E45 ;
  border-radius: 50%;
}
.shop-name{
  font-size: 20px;
  margin: 20px auto 10px auto;
  font-weight: 500;
}
.shop-name-eg{
  font-size: 12px;
}
.itme-bar{
  width: 6em;
  color: #3D1101 ;
  border: 1.1px solid;

}
.price{
  font-size: 20px;
  margin: 15px auto;
  font-family: Roboto-Light;
  font-weight: 600;
}

.btn{
  text-align: center;
  margin: 10px;
  cursor: pointer;
  border: solid #FF5E45 ;
  color: #FF5E45;
  padding: 5px;
}
.btn:hover{
  background-color: #FF5E45;
  color: white;
}
.add-to-car{
  margin: 10px;
}




@media screen and (max-width: 768px){
  .category-title span{
    font-size: 18px;
  }

  .online-shop{
    display: block;
  }
  .shop-menu{
    float: none;
    width: 100%;
  }
  
  .category-title{
    text-align: left;
  }
  .category-title h2{
    margin: 0 auto;
  }
  .shop-content{
    width: 100%;
  }

  .shop-bar{
    display: block;
  }
  .bar-left{
    width: 100%;
    display: inline-flex;
    margin: 20px auto;
  }
  .bar-right {
    margin: 10px;
    font-size: 22px;
  }

  .shop-item{
    justify-content: center;
  }
}

@media screen and (max-width: 440px){
  
}

/* ----------------------------register-------------------------------- */

.pure-form{
  width: 30%;
}

.pure-form-stacked{
  box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  padding: 20px;
  box-sizing: border-box;
  border-top: 6px solid #FF5E45;
}


.pure-form legend{
  font-size: 18px;
  color: #3D1101 ;
  font-weight: 900;
}


.formbody{
  margin: 0 auto;
  text-align: center;
  font-weight: 900;
  position: relative;
}

.formbody input {
  width: 100%;
}

.pure-form-stacked label{
  text-align: left;
  font-size: 16px;
  margin: 10px 0px;
  font-weight: 600;
  color: #3D1101;
  font-family:'MicrosoftJhengHeiRegular' ;
}

.pure-form-stacked input[type=email],.pure-form-stacked input[type=password]{
  padding: 6px 0 6px 35px;
}


.formbody .password-icon ,.formbody .email-icon{
  position: absolute;
  left: 30px;
  color: rgba(61, 17, 1, 0.5);
}

.password{
  padding: 6px 0 6px 28px;
}

.forget-password{
  color: #FF5E45 ;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 15px;
}

.formbody button{
  padding: 5px 20px;
  margin: 10px;
}


.formbody .registered {
    background-color: rgba(0,0,0,0.35);
    color: #fff;
}

.formbody .registered:hover,
.formbody .registered:active {
    background-color: #656565;
}

.formbody .login {
    background-color: #F56C23;
    color: #fff;
}

.formbody .login:hover,
.formbody .login:active {
    background-color: #e8c234;
}

@media screen and (max-width: 768px){
  .pure-form{
    width: 50%;
  }
}

@media screen and (max-width: 440px){
  .pure-form{
    width: 100%;
  }
}



/* debug */
/* section,.footer,.header{
  display: none;
} */
/*.main-chef {
  display: block;
} 
*/

